<.header>
  Create a New Event
  <:subtitle>Create your event in a few simple steps</:subtitle>
</.header>

<div class="max-w-3xl mx-auto mb-8">
  <!-- Using shared event form component -->
  <.event_form
    for={@changeset}
    form_data={@form_data}
    is_virtual={@is_virtual}
    selected_venue_name={@selected_venue_name}
    selected_venue_address={@selected_venue_address}
    submit_label="Create Event"
    action={:new}
    show_all_timezones={@show_all_timezones}
  />
</div> 